__pycache__
*.vscode/

generated/java8/build/
generated/java8/build.gradle

generated/groovy/build/
generated/groovy/build.gradle

generated/kotlin/build.gradle

tests/.gradle/

*.gradle/
*.classpath
*.project
*.settings/

